/* global color palette */
:root {
  --primary-bg: #f8f6f3;
  --sidebar-bg: #f3eadd;
  --card-bg: #fff;
  --accent: #b2592d;
  --accent-hover: #a14519;
  --shadow: 0 2px 12px 0 rgba(60, 72, 88, 0.1);
  --border-radius: 18px;
  --dark-border: rgba(0, 0, 0, 0.5);
  --font-main: "Inter", Arial, sans-serif;
  --font-size-lg: 1.25rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.92rem;
  --font-color-std: #61361f;
  --font-color-bright: #623f27;
}

/* global styling ruleset for consistency */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

button.icon {
  background: none;
  border: none;
  color: var(--font-color-std);
}

button.icon:hover {
  color: var(--font-color-bright);
}

.mat-drawer {
  top: 64px !important; /* match header height */
  height: calc(
    100vh - 120px
  ) !important; /*sidebar height to match amin content's*/
}

.snackbar-success {
  background-color: #4caf50; /* green */
  color: #fff;
}

.snackbar-error {
  background-color: #f44336;
  color: white;
  font-weight: 500;
}

.snackbar-info {
  background-color: #2196f3; /* blue */
  color: white;
}
