<div class="recipe-card">
  <img
    src="https://images.unsplash.com/photo-1504674900247-0877df9cc836"
    alt="Spaghetti Carbonara"
  />
  <h3>Spaghetti Carbonara</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis nulla
    soluta error ullam consequuntur provident ex et iusto qui placeat, dolorum
    consequatur atque distinctio unde sint magnam animi magni facere.
  </p>
  <div class="card-actions">
    <button class="edit-btn">Edit</button>
    <button class="delete-btn">Delete</button>
  </div>
</div>
