<section class="all-recipes-container">
  <div class="section-header">
    <mat-chip-set class="label-chip-list" aria-label="Recipe label filters">
      @for(option of labelOptions; track option.key){<mat-chip
        (click)="toggleLabelFilter(option.key)"
        [class.selected-chip]="labelFilters.includes(option.key)"
        selectable="true"
        [removable]="false"
        [color]="labelFilters.includes(option.key) ? 'primary' : undefined"
        >{{ option.icon }} {{ option.label }} </mat-chip
      >}
    </mat-chip-set>
    <h1>🍲 All Recipes</h1>
    <mat-form-field appearance="fill" class="sort-select">
      <mat-label>Sort by</mat-label>
      <mat-select
        [value]="sortOption"
        (selectionChange)="onSortChange($event.value)"
      >
        <mat-option value="newest">Newest</mat-option>
        <mat-option value="oldest">Oldest</mat-option>
        <mat-option value="az">A-Z</mat-option>
        <mat-option value="za">Z-A</mat-option>
        <mat-option value="shortest">Shortest Cooking Time</mat-option>
        <mat-option value="longest">Longest Cooking Time</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-group">
      <button
        title="Share via email"
        matTooltip="Share via email"
        class="share-button share-latest-button"
        mat-button
        (click)="openDialog(emailSharingComponent, 'latest')"
      >
        <mat-icon>mail</mat-icon></button
      ><button
        title="Print this page"
        matTooltip="Print this page"
        class="share-button"
        (click)="printPage()"
      >
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <p class="subtitle">All your culinary creations in one place.</p>

  <div class="recipe-grid results-list">
    @for (recipe of paginatedRecipes; track recipe.id) {
    <app-recipe-card [recipe]="recipe" type="recipes" class="recipe-card" />
    }
  </div>
  @if(!paginatedRecipes.length){
  <div class="empty-state">
    <p>Your recipe list is empty.</p>
    <a
      routerLink="/recipe-editor"
      routerLinkActive="active-link"
      class="back-link"
      >+ Add a new recipe</a
    >
  </div>
  }

  <mat-paginator
    [length]="recipes.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  ></mat-paginator>
</section>
