<section class="all-recipes-container">
  <div class="section-header">
    <h1>🍲 All Recipes</h1>
    <div class="button-group">
      <button
        title="Share via email"
        matTooltip="Share via email"
        class="share-button share-recently-viewed-button"
        mat-button
        (click)="openDialog(emailSharingComponent, 'recently-viewed')"
      >
        <mat-icon>mail</mat-icon></button
      ><button
        title="Print this page"
        matTooltip="Print this page"
        class="share-button"
        (click)="printPage()"
      >
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <p class="subtitle">All your culinary creations in one place.</p>

  <!-- TODO Update selection once fixed -->
  <!-- <select (change)="filterByType($event)">
        <option value="">All Types</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="vegan">Vegan</option>
        <option value="gluten_free">Gluten-free</option>
        <option value="dairy_free">Dairy-free</option>
      </select> -->

  <div class="recipe-grid results-list">
    @for (recipe of paginatedRecipes; track recipe.id) {
    <app-recipe-card [recipe]="recipe" type="recipes" class="recipe-card" />
    }
  </div>
  @if(!paginatedRecipes.length){
  <div class="empty-state">
    <p>Your recipe list is empty.</p>
    <a
      routerLink="/recipe-editor"
      routerLinkActive="active-link"
      class="back-link"
      >+ Add a new recipe</a
    >
  </div>
  }

  <mat-paginator
    [length]="recipes.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  ></mat-paginator>
</section>
