<div class="recently-viewed-container">
  <div class="section-header">
    <h1>Latest</h1>
    <div class="button-group">
      <button
        title="Share via email"
        matTooltip="Share via email"
        class="share-button share-recently-viewed-button"
        mat-button
        (click)="openDialog(emailSharingComponent, 'recently-viewed')"
      >
        <mat-icon>mail</mat-icon></button
      ><button
        title="Print this page"
        matTooltip="Print this page"
        class="share-button"
        onClick="window.print()"
      >
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <ul class="recently-viewed-list">
    <app-recipe-card
      type="recently-viewed"
      class="recently-viewed-item"
    ></app-recipe-card>
  </ul>
</div>
