<div class="latest-container">
  <div class="section-header">
    <h1>Latest</h1>
    <div class="button-group">
      <button
        title="Share via email"
        matTooltip="Share via email"
        class="share-button share-latest-button"
        mat-button
        (click)="openDialog(emailSharingComponent, 'latest')"
      >
        <mat-icon>mail</mat-icon></button
      ><button
        title="Print this page"
        matTooltip="Print this page"
        class="share-button"
        (click)="printPage()"
      >
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <div class="recipe-grid results-list">
    @for (recipe of paginatedRecipes(); track recipe.id) {
    <app-recipe-card [recipe]="recipe" type="recipes" class="recipe-card" />
    }
  </div>

  @if (!paginatedRecipes().length) {
  <div class="empty-state">
    <p>No recent recipes to display.</p>
    <a
      routerLink="/recipe-editor"
      routerLinkActive="active-link"
      class="back-link"
      >+ Add a new recipe</a
    >
  </div>
  }

  <mat-paginator
    [length]="latestRecipes().length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
