<section>
  <h1>Recently Viewed</h1>
  <div class="recently-viewed-container">
    <div class="section-header">
      <h2>Recently Viewed</h2>
      <div class="button-group">
        <button
          title="Share via email"
          matTooltip="Share via email"
          class="share-button share-recently-viewed-button"
          mat-button
          (click)="openDialog(emailSharingComponent, 'recently-viewed')"
        >
          <i class="fas fa-envelope"></i></button
        ><button
          title="Print this page"
          matTooltip="Print this page"
          class="share-button"
          onClick="window.print()"
        >
          <i class="fas fa-print"></i>
        </button>
      </div>
    </div>
    <ul class="recently-viewed-list">
      <app-recipe-card
        type="recently-viewed"
        class="recently-viewed-item"
      ></app-recipe-card>
    </ul>
  </div>
</section>
