.header,
.footer {
  background: var(--sidebar-bg);
  padding: 1.2rem 2.5rem;
  font-weight: 500;
  color: var(--brown-500);
}

.header {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  border-bottom: 1px solid rgba(235, 223, 208, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

.header-spacer {
  flex: 1 1 auto;
}

.footer {
  font-size: var(--font-size-sm);
  border-top: 1px solid rgba(235, 223, 208, 1);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}
