<mat-toolbar class="header">
  <button
    type="button"
    matIconButton
    (click)="drawer.toggle()"
    class="icon toggle-menu"
    matTooltip="Menu"
    aria-label="Menu button"
  >
    <mat-icon>menu</mat-icon>
  </button>

  @if (authService.isLoggedIn()){
  <span>{{ firstName() }}'s Recipe Manager</span>} @else {<span
    >My Recipe Manager</span
  >}
  <span class="header-spacer"></span>
  <span
    >@if (authService.isLoggedIn()){
    <button
      matIconButton
      class="icon logout-icon"
      matTooltip="Logout"
      aria-label="Logout button"
      mat-button
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
    }@else {
    <button
      matIconButton
      class="icon login-icon"
      matTooltip="Login"
      aria-label="Login button"
      mat-button
      (click)="openDialog(authComponent)"
    >
      <mat-icon>login</mat-icon>
    </button>
    }</span
  >
  <button
    matIconButton
    class="icon"
    matTooltip="Share"
    aria-label="Share button"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
