<mat-toolbar class="header">
  <button
    type="button"
    matIconButton
    (click)="drawer.toggle()"
    class="icon toggle-menu"
    matTooltip="Menu"
    aria-label="Menu button"
  >
    <mat-icon>menu</mat-icon>
  </button>

  @if (authService.isLoggedIn()){
  <span
    ><a
      mat-menu-item
      class="icon"
      matTooltip="home"
      aria-label="home button"
      routerLink="/dashboard"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ firstName() }}'s Recipe Manager</a
    ></span
  >} @else {<span>My Recipe Manager</span>}
  <span class="header-spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      class="icon"
      matTooltip="home"
      aria-label="home button"
      routerLink="/dashboard"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      @if (authService.isLoggedIn()){
      <span
        class="icon logout-icon"
        matTooltip="Logout"
        aria-label="Logout button"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </span>
      }@else {
      <span
        class="icon login-icon"
        matTooltip="Login"
        aria-label="Login button"
        (click)="openDialog(authComponent)"
      >
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </span>
      }
    </button>
  </mat-menu>
</mat-toolbar>
