<mat-toolbar class="header">
  <button
    type="button"
    matIconButton
    (click)="drawer.toggle()"
    class="icon toggle-menu"
    matTooltip="Menu"
    aria-label="Menu button"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Recipe Manager</span>
  <span class="header-spacer"></span>
  <button
    matIconButton
    class="icon favorite-icon"
    matTooltip="Favorites"
    aria-label="Favorite button"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    matIconButton
    class="icon"
    matTooltip="Share"
    aria-label="Share button"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
