.recipe-card {
  background: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 1.2rem 1rem 1.1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: box-shadow 0.2s;
  min-height: 340px;
}

.recipe-card img {
  width: 100%;
  max-height: 3000px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: 1.2rem;
}

.recipe-card mat-icon {
  color: var(--accent-tint);
}

.favorite-button.active mat-icon,
.shopping-list-button.active mat-icon {
  color: var(--brown-500);
}

@media (max-width: 900px) {
  .recipe-card {
    min-height: 250px;
  }
}
