<div class="form-container" [formGroup]="recipeForm">
  <div class="recipe-picture-row">
    <label for="recipePictureInput">Recipe Picture</label>
    <input
      type="file"
      id="recipePictureInput"
      (change)="onRecipeFileSelected($event)"
      accept="image/*"
      [disabled]="isLoading()"
    />
    @if(getRecipePictureUrl()){
    <div>
      <img
        [src]="getRecipePictureUrl()"
        alt="Recipe Picture"
        class="recipe-picture"
      />
    </div>
    }
  </div>
  <h1>{{ isEdit() ? "Edit Recipe" : "Add Recipe" }}</h1>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      matInput
      formControlName="title"
      placeholder="Enter a descriptive recipe title"
    />
    @if (recipeForm.get('title')?.invalid && recipeForm.get('title')?.touched) {
    <mat-error>Recipe title is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Servings</mat-label>
    <input matInput type="number" formControlName="servings" min="1" max="20" />
    @if (recipeForm.get('servings')?.invalid &&
    recipeForm.get('servings')?.touched) {
    <mat-error>Please enter a valid number of servings (1-20)</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cooking Time (min)</mat-label>
    <input
      matInput
      type="number"
      formControlName="cooking_time"
      min="0"
      max="1440"
    />
    @if (recipeForm.get('cooking_time')?.invalid &&
    recipeForm.get('cooking_time')?.touched) {
    <mat-error>Please enter a valid cooking time</mat-error>
    }
  </mat-form-field>

  <app-unit-toggle [unitSystem]="unitSystem" />

  <h2>Ingredients</h2>
  <div formArrayName="ingredient_lists">
    @for (ing of ingredients.controls; track ing; let i = $index) {
    <div [formGroupName]="i">
      <mat-form-field appearance="fill">
        <mat-label>Qty</mat-label>
        <input
          matInput
          type="number"
          [formControlName]="unitSystem() + '_qty'"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Unit</mat-label>
        <mat-select [formControlName]="unitSystem() + '_unit'">
          @for (unit of getUnits(unitSystem()); track unit) {<mat-option
            [value]="unit"
          >
            {{ unit }} </mat-option
          >}
        </mat-select>
      </mat-form-field>

      <div formGroupName="ingredient">
        <mat-form-field appearance="fill">
          <mat-label>Ingredient</mat-label>
          <input matInput formControlName="ingredient" />
        </mat-form-field>
      </div>

      <button mat-icon-button color="warn" (click)="removeIngredient(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
  </div>

  <button mat-button (click)="addIngredient()">+ Add Ingredient</button>

  <h2>Instructions</h2>
  <div formArrayName="instructions">
    @for(step of instructions.controls; track step; let i = $index){
    <div [formGroupName]="i">
      <mat-form-field appearance="fill">
        <mat-label>Step {{ i + 1 }}</mat-label>
        <textarea matInput formControlName="step_content"></textarea>
      </mat-form-field>

      <button mat-icon-button color="warn" (click)="removeInstruction(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
  </div>

  <button mat-button (click)="addInstruction()">+ Add Instruction</button>

  <h2>Labels</h2>
  <div formGroupName="label">
    <mat-checkbox formControlName="vegetarian">Vegetarian</mat-checkbox>
    <mat-checkbox formControlName="vegan">Vegan</mat-checkbox>
    <mat-checkbox formControlName="gluten_free">Gluten Free</mat-checkbox>
    <mat-checkbox formControlName="dairy_free">Dairy Free</mat-checkbox>
  </div>

  <mat-checkbox formControlName="favorite">Favorite</mat-checkbox>
  <mat-checkbox formControlName="shopping_list">Shopping List</mat-checkbox>

  <button mat-raised-button color="primary" (click)="saveRecipe()">
    {{ isEdit() ? "Update Recipe" : "Create Recipe" }}
  </button>
</div>
