body {
  background: var(--primary-bg);
  font-family: var(--font-main);
  margin: 0;
}

.dashboard-main {
  padding: 2.2rem 2.5rem;
  background: var(--primary-bg);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--font-color-std);
}

.recipe-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.6rem;
}
