<div class="sidebar">
  <h2>Recipe Organizer</h2>
  <nav>
    <a
      routerLink="/dashboard"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      routerLink="/my-recipes"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >All Recipes</a
    >
    <a
      routerLink="/shopping-list"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Shopping List</a
    >
    <a
      routerLink="/info"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Info</a
    >

    @if (authService.isLoggedIn()){
    <a (click)="logout()">Log out </a>
    }@else {
    <a (click)="openDialog(authComponent)">Log in</a>
    }
  </nav>
  <button
    class="new-recipe-btn"
    routerLink="/recipe-editor"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    + New Recipe
  </button>
</div>
