.sidebar {
  background: var(--sidebar-bg);
  padding: 20px;
  box-shadow: 2px 0 16px rgba(0, 0, 0, 0.04);
  min-width: 220px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar h2 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  color: #61361f;
}

.sidebar nav {
  margin-bottom: auto;
}

.sidebar nav a {
  transition: 0.2s ease-in-out;
  display: block;
  color: #704a29;
  text-decoration: none;
  font-size: var(--font-size-md);
  margin-bottom: 1.4rem;
  transition: color 0.2s;
}

.sidebar nav a:hover {
  transition: 0.2s ease-in-out;
  color: var(--accent);
  font-size: var(--font-size-lg);
}

.new-recipe-btn {
  background: var(--primary-bg);
  border: 2px solid var(--accent);
  color: var(--accent);
  border-radius: var(--border-radius);
  padding: 0.7rem 1.3rem;
  font-size: var(--font-size-md);
  font-weight: 600;
  margin-top: 2rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.new-recipe-btn:hover {
  background: var(--accent);
}

.new-recipe-btn a {
  text-decoration: none;
  color: var(--accent);
}

.new-recipe-btn a:hover {
  color: #fff;
}
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    min-width: unset;
    padding: 1rem;
  }
}
