<form (submit)="emailMessage()">
  <label for="emailAddress">Email address:</label>
  <input
    type="email"
    name="emailAddress"
    id="emailAddress"
    required
    placeholder="Enter your email address"
    [(ngModel)]="shareService.emailAddress"
  />

  <label for="messageBody">Message (optional):</label>
  <textarea
    name="messageBody"
    id="messageBody"
    placeholder="Add a personal note (optional)"
    [(ngModel)]="shareService.messageBody"
    rows="4"
  ></textarea>

  <button title="Send Email" matTooltip="Send Email" type="submit">Send</button>
</form>
